.hide-desktop {
    @include media(tablet) {
        display: none !important;
    }
}
.hide-mobile {
    display: none !important;
    @include media(tablet) {
        display: block !important;
    }

    &.flex {
        @include media(tablet) {
            display: flex !important;
        }
    }
}

// background-colors
.bg-white {
    background-color: $white;
}

.bg-grey {
	background-color: $text_1;
}

.bg-grey-dark {
	background-color: $dark;
}


.bg-transparent {
	background-color: transparent;
}

.bg-principal {
 	background-color: $pc;
}

.bg-secondary {
    background-color: $sc;
}
.clearfix{
    @include clearfix;
}

// Display
.block {display: block;}
.inline {display: inline;}
.inline-block {display: inline-block;}
.text-center {text-align: center;}

// sizes
.w-100 {
 	width: 100%;
}

.h-100 {
	height:100%;
}

.f-left {
	float:left;
}

.f-right {
	float:right;
}

.h-100vh {
    height: 100vh;
}

.round-100 {
	border-radius: 50%;
}

.m-auto {
    margin: 0 auto;
}

// Vertical align
.v-align {
    &.middle {vertical-align: middle;}
}

// Underline
.underline {text-decoration: underline;}

// Position relative
.relative {position: relative;}

