
//@include media('tablet-wide'){}
$breakpoints: (
        "smallphone":  $smallphone,
        "phone":   $phone,
        "tablet":       $tablet,
        "desktop":      $desktop,
        "desktop-wide": $desktop-wide
);
@mixin media($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}