input, textarea, select{
    padding: 16px;
    border-radius: 4px;
    border: 1px solid $lines;
    color: $text_1;
    width: 100%;
}
fieldset{
    margin: $s-24;
    border: none;
}
select{
    line-height: 24px;
    height: 40px;
}