a{
    text-decoration: none;
    color: $text_1;
    @include media('tablet'){
       &:hover{
        color: $text;
       } 
    }
}
.text{
    &-center{
        text-align: center;
    }
    &-left{
        text-align: left;
    }
    &-right{
        text-align: right;
    }
}
.center-box{
    @include media('tablet'){
        max-width: $desktop;
        margin: 0 auto;
    }
}