header {
  width: 100%;
  display: flex;
}
header .logo {
  font-size: 24px;
  margin: 8px;
}
header ul {
  list-style: none;
  display: flex;
  margin-left: auto;
}
header ul li {
  color: white;
  display: inline-block;
  margin: 8px;
}
header ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
}
