.detail{
    section{
        @include media('tablet'){
            width: calc(100% - 260px);
        }
    }
    .card{
        background-color: $white;
        border-radius: 6px;
        .image{
            img{
                width: 100%;
                border-radius: 6px 6px 0 0;
            }
        }
        .images{
            display: flex;
            img{
                width: 18%;
                margin: 1%;
                border-radius: 6px;
            }
        }
    }
}